/* +-+-+-+-+-+-+ +-+-+ +-+-+-+-+-+-+-+
|P|a|l|e|t|a| |d|e| |c|o|l|o|r|e|s|
+-+-+-+-+-+-+ +-+-+ +-+-+-+-+-+-+-+
 */

:root{
    --colordeFondo: blue;
}

body {
    font-family: 'Labrada', serif;
    font-family: 'Mynerve', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: var(--colordeFondo);
}
a{
    text-decoration: none;
}